<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Swagger Log 제거-->
<!--    <logger name="springfox.documentation" level="ERROR"/>-->
<!--    <logger name="kr.co.openlabs" level="DEBUG"/>-->

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level:%X{trace_id}:%X{user_id}] [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%logger{5}:%method:%L] %msg%n</pattern>
        </encoder>
    </appender>

</configuration>
